.error{
    text-align: center;
    font-size: 64px;
    margin-top: 230px;
    height: 56px;
    font-family: sans-serif;
}
.pagenotfound{

    text-align: center;
    font-size: 62px;
    font-family: sans-serif;
}