.border_footer{
    border: 1px solid;
    width: 46%;
    text-align: center;
    margin: auto;
    margin-top: 71px;
    padding-bottom: 18px;

}
.heading_footer{
    height: 19px;
    font-size: 24px;
}
.add{

    width: 336px;
    padding: 7px;
    font-size: 20px;
    height: 29px;
}

